services:
  db:
    image: postgres:15
    container_name: medease-db
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: medease-application
    ports:
      - "${PORT}:8080"
    environment:
      DB_URL: jdbc:postgresql://db:5432/${DB_NAME}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      SPRING_PROFILES_ACTIVE: prod
      BREVO_API: ${BREVO_API}
      BREVO_MAIL: ${BREVO_MAIL}
      BREVO_SENDER_NAME: ${BREVO_SENDER_NAME}
      PORT: ${PORT}
      JWT_SECRET: ${JWT_SECRET}
    depends_on:
      - db

volumes:
  db_data:
