spring:
  config:
    import:
      optional:
        dotenv:
  application:
    name: medsystem
  datasource:
    password: ${DB_PASSWORD}
    username: ${DB_USERNAME}
    url: ${DB_URL}
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
        format_sql: true
    hibernate:
      ddl-auto: update
    show-sql: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
        transport.protocol: smtp
        smtp.timeout: 5000
        debug: false
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 74338890698-j2gqo7avn901mjqse8uj8kbu9es3sjrp.apps.googleusercontent.com
            client-secret: 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
            scope:
              - email
              - profile
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
            user-name-attribute: sub


server:
  port: ${SERVER_PORT}